*.swn
*.swo
*.swp
/doc/
/dst/
/lib/
/out/
/tgt/
/.boot/
/.hlisp-work-dir/
/.lein-failures
/.lein-repl-history
/.lein-cljsbuild-compiler-0
/.lein-cljsbuild-repl
/.lein-plugins
/.lein-deps-sum
/.nrepl-port
/pom.xml