{:main  [:project      jumblerg/ring.middleware.cors
         :version      "1.0.1"
         :url          "https://github.com/jumblerg/ring.middleware.cors"
         :description  "Simple Ring middleware for easy cross-origin resource sharing (CORS)."
         :license      {:name "Eclipse Public License"
                        :url "http://www.eclipse.org/legal/epl-v10.html"}
         :dependencies [[tailrecursion/boot.task   "2.1.2"]
                        [tailrecursion/boot.notify "2.0.0-SNAPSHOT"]]
         :rsc-paths    #{"rsc"}
         :src-paths    #{"src" "tst"}
         :tst-paths    #{"tst"}
         :out-path     "tgt"]}